@import '../../Style/variable';


.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;

    &__paragraph {
        font-size: 1.5rem;
        margin-bottom: 10px;

        @media screen and (max-width: 390px) {
            font-size: 1.25rem;
            text-align: center;
        }
    }

    .containerClock {
        align-items: center;
        background-color: $bg-primary-dark;
        border-radius: 10px;
        box-shadow: 2px 4px 4px #0000009F;
        box-sizing: border-box;
        display: flex;
        font-size: 5rem;
        justify-content: center;
        margin-bottom: 24px;
        padding: 16px 12px;
        width: 100%;
        @media screen and (max-width: 500px) {
            font-size: 4.25rem;
            text-align: center;
        }
    }
}