$color-primary: #00FFC4;
$color-primary-ligth: #01E59B;
$color-primary-dark: #00af78;
$colors-secundary: #FFFFFF;
$color-secundary-ligth: #F9FAFF;
$color-tertiary: #C6C6C6;
$bg-primary: #1A1B24;
$bg-primary-dark: #23242F;
$bg-grandient: linear-gradient(180deg, #13141B 0%, #1e2029 100%);
$bg-grandient-hover: linear-gradient(180deg, #2FFDCE 0%, $color-primary 100%);
$font-primary: 'Inter', sans-serif;